<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='homestyle.css')}}">
</head>
<body>
    <form action="" method="post">
        <p>Digite quantos números você quer sortear</p><br>
        <input type="number" name="numeroForm">
        <input type="submit" value="Sortear">
        <p>O número sorteado foi: </p>
        <p>{{numero}}</p>
    </form>
</body>
</html>